name: Build Kivy APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y python3 python3-pip git zip unzip openjdk-17-jdk
        pip install --upgrade pip cython buildozer

    - name: Build APK
      run: |
        # Build APK (Buildozer سيقوم تلقائيًا بتنزيل SDK/NDK/Build-tools عند أول استخدام)
        buildozer -v android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: elec-apk
        path: bin/*.apk
