name: Build APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HOME: /home/runner
      BUILDOZER_HOME: /home/runner/.buildozer

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip python3-setuptools git openjdk-17-jdk unzip zip libssl-dev libffi-dev libsqlite3-dev
          pip install --upgrade pip
          pip install buildozer cython wheel

      - name: Install Android SDK Build-Tools
        run: |
          yes | sdkmanager --sdk_root=$HOME/.buildozer/android/platform/android-sdk "platform-tools" "build-tools;33.0.2" "platforms;android-33"

      - name: Build APK (Release)
        run: |
          buildozer android release

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: apk-release
          path: bin/*.apk