name: Build Kivy APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Buildozer & system dependencies
      run: |
        sudo apt update
        sudo apt install -y git zip unzip openjdk-17-jdk
        pip install --upgrade pip cython buildozer

    - name: Build APK
      uses: khannz/action-buildozer@v1.2.0
      with:
        python_version: '3.10'
        target: 'android'
        buildozer_spec_file: 'buildozer.spec'
        clean_build: true

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: elec-apk
        path: bin/*.apk
